<!DOCTYPE html>
<html>
<head>
  <title>Correo Enviado</title>
</head>
<body>
  <h1>Correo de Restablecimiento Enviado</h1>
  <p>Se ha enviado un correo con las instrucciones para restablecer tu contraseña.</p>
</body>
</html>
