<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mooving - Aplicación en Pruebas</title>
</head>
<body>


    <header>
        <h1>Mooving - Aplicación en Pruebas</h1>
    </header>


    <section>
        <h2>Descripción de la Aplicación</h2>
        <p>La aplicación móvil Mooving está en etapa de pruebas...</p>
    </section>


    <section>
        <h2>Funcionalidades</h2>
        <ul>
            <li>Registrar usuarios tanto transportistas como solicitantes de fletes.</li>
            <li>Cada usuario podrá acceder a su respectiva cuenta mediante un login.</li>
            <li>Cada usuario podrá actualizar los datos de su cuenta.</li>
            <li>El usuario solicitante de flete podrá acceder a un mapa para registrar el punto de inicio y punto de destino para coordinar el envío del flete que necesita.</li>
        </ul>
    </section>


    <section>
        <h2>Responsabilidad del Equipo de Desarrolladores</h2>
        <p>El equipo de desarrolladores de Mooving no es responsable de pérdidas o hurtos en el proceso de coordinación de cada flete...</p>
    </section>


    <section>
        <h2>Nota Importante</h2>
        <p>Es necesario recibir feedback de usuarios reales para adaptar el viaje del usuario a las necesidades de los potenciales usuarios.</p>
    </section>


    <footer>
        <p>&copy; 2023 Mooving. Todos los derechos reservados.</p>
    </footer>

</body>
</html>
